<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levelup.theoldreaderforpalabre" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".TorApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:label="@string/add_to_tor">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <provider
            android:name="com.levelup.palabre.provider.RSSProvider"
            android:authorities="com.levelup.theoldreaderforpalabre.provider"
            android:exported="true" />

        <service
            android:name=".TheOldReaderExtension"
            android:icon="@drawable/ic_tor_icon"
            android:label="@string/app_name"
            android:permission="com.levelup.palabre.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.levelup.palabre.Extension"/>
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1"/>
            <meta-data
                android:name="worldReadable"
                android:value="true"/>
            <meta-data
                android:name="supportSendRead"
                android:value="true"/>
            <meta-data
                android:name="settingsActivity"
                android:value=".MainActivity"/>
            <meta-data
                android:name="authority"
                android:value="com.levelup.theoldreaderforpalabre.provider"/>
            <meta-data
                android:name="extensionicon"
                android:resource="@drawable/ic_tor_icon"/>
        </service>

    </application>

</manifest>
